{% extends 'base.html' %}
{% load static %}

{% block title %}
Payments - Management Portal
{% endblock %}
{% block navbar_title %}
Financial Department
{% endblock %}

{% block content %}
<div class="header-flex-container">
    <h2>Pending Payments:</h2>
    <div class="button-container">
        <button class="show-instructions">How to Use the Portal</button>
    </div>
</div>

{% if just_logged_in %}
<div id="welcomeMessage" class="visible center-align">
   <h2>Welcome to the portal</h2> 
</div>
{% endif %}
{% if message == "Payment Processed" %}
    <div id="submitMessage" class="visible center-align">
        <h2>Forwarded to Delivery Department</h2>
    </div>
{% elif message %}
    <div id="errorMessage" class="visible center-align">
        <h2>{{ message }}</h2>
    </div>
{% endif %}

<div class="how-to-use hidden">
    <strong>How to Use the Financial Department Portal:</strong>
    <ol>
        <li>Review the list of pending payments.</li>
        <li>Click on "Process Payment" to handle a specific payment.</li>
        <li>Ensure that all payment details are correct.</li>
        <li>Submit the payment for processing.</li>
    </ol>
</div>
    
    <table style="width: 100%; border-spacing: 0 15px;">
        <thead>
            <tr>
                <th>Payment ID</th>
                <th>Amount</th>
                <th>Name</th>
                <th>Bed Type</th>
                <th>UK Address</th>
                <th>Delivery Address</th>
                <th>Requested Delivery Date</th>
                <th style="text-align:right;">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for payment in payments %}
                <tr>
                    <td>{{ payment.id }}</td>
                    <td>£{{ payment.customer.get_bed_price }}</td>
                    <td>{{ payment.customer.full_name }}</td>
                    <td>{{ payment.customer.get_bed_type_display }}</td>
                    <td>{{ payment.customer.address_uk }}</td>
                    <td>{{ payment.customer.delivery_address }}</td>
                    <td>{{ payment.customer.requested_delivery_date }}</td>
                    <td style="text-align:right;">
                        <button class="submit-button" onclick="toggleStripeModal('{{ payment.id }}')">Process Payment</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="8">
                        <form action="{% url 'financial_department:process_payment' payment.id %}" method="post" id="payment-form-{{ payment.id }}" style="display:none;">
                            {% csrf_token %}
                            <div class="input-field">
                                <div id="card-element-{{ payment.id }}" class="stripe-card-element"></div>
                                <label for="card-element-{{ payment.id }}"></label>
                                <div id="card-errors-{{ payment.id }}" class="stripe-card-errors" role="alert"></div>
                            </div>
                            
                            
                            <input type="hidden" name="stripeToken" value="" id="stripe-token-{{ payment.id }}">
                            <button type="submit" class="submit-button">Submit Payment</button>
                        </form>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="8">No payments available.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>
<div class="button-container" style="margin-top: auto; margin-left: 80px;">
    <a href="{% url 'logout' %}" class="logout-button">Logout</a>
</div> 

<script src="https://js.stripe.com/v3/"></script>
<script>
    var stripe = Stripe('{{ STRIPE_PUBLIC_KEY }}');
var elements = stripe.elements();

function setupCard(paymentId) {
    var cardElement = document.getElementById(`card-element-${paymentId}`);
    var form = document.getElementById(`payment-form-${paymentId}`);
    var stripeTokenInput = document.getElementById(`stripe-token-${paymentId}`);

    if (cardElement.childNodes.length) return;  

    var card = elements.create('card');
    card.mount(`#card-element-${paymentId}`);

    card.addEventListener('change', function(event) {
        var displayError = document.getElementById(`card-errors-${paymentId}`);
        if (event.error) {
            displayError.textContent = event.error.message;
        } else {
            displayError.textContent = '';
        }
    });

    form.addEventListener('submit', function(event) {
        event.preventDefault();

        stripe.createToken(card).then(function(result) {
            if (result.error) {
                var errorElement = document.getElementById(`card-errors-${paymentId}`);
                errorElement.textContent = result.error.message;
            } else {
                stripeTokenInput.value = result.token.id;
                form.submit();
            }
        });
    });
}

function toggleStripeModal(paymentId) {
    const form = document.getElementById(`payment-form-${paymentId}`);

    if (form.style.display === "none" || form.style.display === "") {
        setupCard(paymentId);  
        form.style.display = "block";
    } else {
        form.style.display = "none";
    }
}

</script>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/combinedService.js' %}"></script>
{% endblock %}
