/*Basic Reset & Font Styles:*/

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
li {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

/*Color Variables & Container:*/

:root {
    --primary-color: #024059;
    --secondary-color: #03738c;
    --error-color: #d4351c;
    --white-color: #ffffff;
    --panel-spacing: 20px;
  }
  
  .container {
    max-width: 1200px;
    margin: 2em auto;
    padding: 1em;
  }

/* Header & Dashboard Styles:*/

.header-bar {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 1em 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
  }
  
  .dashboard {
    font-size: 60px;
    text-transform: uppercase;
    text-decoration: underline;
  }

/*  Panel & Alert Designs:*/

.dashboard-title {
    margin-bottom: var(--panel-spacing);
  }
  
  .panel {
    margin-bottom: var(--panel-spacing);
  }
  
  .panel-row {
    display: flex;
    gap: var(--panel-spacing);
    margin-bottom: var(--panel-spacing);
  }
  
  .alert {
    background-color: var(--error-color);
    text-align: center;
    color: var(--white-color);
    padding: 1em;
    margin-bottom: 1em;
  }

/*   Typography & Forms: */

h1,
h2 {
  font-size: 30px;
  margin-bottom: 1.2em;
  color: var(--primary-color);
}

.form-group {
    margin-bottom: 1.5em;
  }
  
  label {
    display: block;
    margin-bottom: 0.5em;
  }
  
  input,
  select {
    width: 100%;
    padding: 0.8em;
    border: 1px solid var(--secondary-color);
    box-sizing: border-box;
  }

/* Button Designs: */  

.submit-button,
.faq-button, .logout-button {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 0.8em 1.5em;
  border: none;
  cursor: pointer;
  font-size: 1em;
  transition: background 0.3s;
}

.how-to-use,
.show-instructions,
.open-calendar-btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 0.8em 1.5em;
  border: none;
}

.submit-button:hover {
    background-color: var(--secondary-color);
  }
  
  .logout-button:hover {
    background-color: var(--secondary-color);
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 6%;
  }
  
  select {
    appearance: none;
    background-color: var(--white-color);
    border-radius: 0;
    padding-right: 2em;
  }
  