{% extends "base.html" %}

{% block title %}Head Office - Management Portal{% endblock %}
{% block navbar_title %}Head Office Department{% endblock %}

{% block content %}
<div class="container">

  {% if messages %}
  {% for message in messages %}
  <div id="errorMessage" class="visible center-align">
    <h2>{{ message }}</h2>
  </div>
  {% endfor %}
  {% endif %}

  <h1 class="dashboard">Dashboard:</h1>

  <div class="panel">
    <h2 class="center-align">Overdue Deliveries:</h2>
    {% if overdue_deliveries %}
    <table class="overdue">
      <tbody>
        {% for delivery in overdue_deliveries %}
        <tr>
          <td>{{ delivery.customer.full_name }}</td>
          <td>{{ delivery.delivery_date }}</td>
          <td>{{ delivery.customer.phone_number }}</td>
          <td>{{ delivery.status }}</td>
          <td>
            <form method="post" action="{% url 'head_office:delete_delivery' delivery.id %}" onsubmit="return confirm('Are you sure you want to delete this delivery?');">
                {% csrf_token %}
                <input type="submit" value="Delete" class="logout-button">
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No overdue deliveries at the moment.</p>
    {% endif %}
  </div>

  <div class="panel-row">
    <div>
      <h2 class="center-align">New Customers Waiting for Payment:</h2>
      {% if pending_payments %}
      <table class="panel waiting-for-payment">
        <tbody>
          {% for payment in pending_payments %}
          <tr>
            <td>{{ payment.customer.full_name }}</td>
            <td>{{ payment.status }}</td>
            <td>
              <form method="post" action="{% url 'head_office:delete_payment' payment.id %}" onsubmit="return confirm('Are you sure you want to delete this payment?');">
                  {% csrf_token %}
                  <input type="submit" value="Delete" class="logout-button">
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>No customers waiting for payment at the moment.</p>
      {% endif %}
    </div>

    <div>
      <h2 class="center-align">Customers Waiting for Delivery:</h2>
      {% if out_for_deliveries %}
      <table class="panel waiting-for-delivery">
        <tbody>
          {% for delivery in out_for_deliveries %}
          {% if delivery.delivery_date >= today %}
          <tr>
            <td>{{ delivery.customer.full_name }}</td>
            <td>{{ delivery.delivery_date }}</td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>No customers waiting for delivery at the moment.</p>
      {% endif %}
    </div>
  </div>

  <div class="button-container">
    <a href="{% url 'logout' %}" class="logout-button">Logout</a>
  </div>

</div>
<div class="panel contact-panel center-align">
  <h2>Contact Departments:</h2>
  <ul>
    <li>Head Office: +123456785</li>
    <li>Customer Service: +123456786</li>
    <li>Financial Department: +123456787</li>
    <li>Delivery Department: +123456788</li>
  </ul>
</div>
{% endblock %}
